.pokemon-section{
  max-width: 1280px;
  margin: 0 auto;
}

.filter-menue{
  list-style: none;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  margin: 2rem auto;
}

.pop-up{
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
  position: fixed;
}

.search-title{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.popup-btn {
  background-color: tomato !important;
  padding: .2rem .5rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.no-data{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  height: 100vh
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card-description{
  display: flex;
  flex-direction: column;
  line-height: 3;
}

.card-type{
  display: flex;
  gap: 1rem;
}

.pokemon-form{
  display: flex;
  padding: 2rem;
}

.search-bar{
  width: 300px;
}

.load-btn{
  padding: .5rem 1rem;
  display: flex;
  margin: 2rem auto;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.top-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

