.body-container {
    display: flex;
    justify-content: space-between;
    
    
    margin: 50px;
    border-radius: 20%;
    
}
.body-container .left-body-container {
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    
    

}
.body-container .right-container {
    width: 40%;
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.vs-container {

    width: 30%;

}
.body-container .right-container button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    

    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
button:hover {
    background-color: red;
    color: white;
    transform: scale(1.1);

}
.info-container {
    display: flex;
    flex-direction: column;
    

}
p {
    padding: 10px;
    background-color: red;
    opacity: 0.5;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-style: italic;
}
