body {
  
    background-image: url('https://wallpapers.com/images/hd/pokemon-evolution-8b1ylsvrgjozt6aa.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  

  }


