body {
  
    background-image: url('https://wallpapers.com/images/hd/pikachu-with-pokemon-friends-uxxa8pvbvsqj0v3h.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  

  }

